.navbar-nav.mynav-01{background:transparent;}
.navbar-nav.mynav-01 > li > a{padding:6px 10px 0px 10px;}
.drop {background: url(../images/icons/drop.png) 96% 52% no-repeat;}
.border-radius-0{border-radius:0px;}
.anchor-padding{padding: 12px 10px !important;}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 4px;
}

@media screen and (max-width:768px)
{
	.mobile-part img{margin:0 auto;margin-top:0px;width: 300px;}
	.sublist-top-container{max-width:700px;padding:7px;}
	.search-advanced-tabs li{border-top: 1px dashed #6bcff1;}
	.search-form-0{
	background: #fff9;
	padding: 5px 5px;
	margin: 11px 0px;
	margin-top: -100px;
	border: 1px solid #f0f0f0;
	}
	.search-btn{
	width: 100%;
	border-radius: 0px;
	padding: 0px;
	margin-top: 6px;
	/* padding: 14px 39px; */
	font-size:28px;
	}
	.search-form-0 input{background: #ffffff80;height:42px;margin-bottom:5px;border:1px dashed #31b0d5;
	color:black;}
	.text-center-small{text-align:center !important;}
	.pull-left-small{float:left !important;}
	.pull-right-small{float:right !important;}
	.drawl-left{float: left;top: -12px;z-index: 2;}
}
@media screen and (min-width:769px)
{
	.mobile-part img{margin:0 auto;margin-top:-80px;width: 300px;}
	.sublist-top-container{max-width:700px;padding:60px;}
	.search-form-0 input.location-input{border-right: 1px solid #000 !important;}
	.search-form-0{
	width: 100%;
	background: rgba(255,255,255,0.6);
	min-height: 70px;
	border-radius: 3px;
	}
	.search-btn{
	border-radius: 3px;
	padding: 14px 39px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 28px;
	}
	.search-form-0 input.location-input,.search-form-0 input.sinput {
	height: 62px;
	margin-top:4px;
	font-size:18px;
	color:black;
	border: none;
	border-radius: 0;
	background: rgba(255,255,255,0);
	}
	.text-center-large{text-align:center !important;}
	.pull-left-large{float:left !important;}
	.pull-right-large{float:right !important;}
}
.z-index-1{z-index:1 !important;}
.padding-0{padding:0px !important;}
.search-form-0 input:focus{box-shadow:none !important;border:none;}

.white-bg{background:white !important;}
.white{color:white !important;}
.social-icons a{
padding: 6px 8px !important;
border: 1px solid #fff;
margin: 2px;
width: 35px;
border-radius: 50%;}


.banner{max-height:400px;overflow:hidden;}
.magnet{top:40%;}
.ptb{padding:20px 0px;}
.search-advanced-tabs{background: #3fc8f4;margin-top:30px;}
.search-advanced-tabs li a:hover,.search-advanced-tabs li a:focus{background:#3fc8f4 !important;color:white;}
.search-advanced-tabs li a i.fa-plus,.search-advanced-tabs li a i.fa-minus{border: 1px solid #fff;padding: 5px 6px 2px 6px;}
.search-advanced-tabs li a{line-height:40px;background:#3fc8f4;color:white !important;border:none;border-radius:0px !important;border:none !important;}
.search-advanced-tabs li.active a{background:#6bcff1 !important;color:white !important;}

.sublist-container{margin-bottom:20px;}
.sublist-container img{height:30px;}

.download-parts{min-height:300px;}
.padding-bottom-80{padding-bottom:80px;}
.padding-top-80{padding-top:80px;}
.in-align{padding-top:0px;}
header{background:#e4f0fa;}
.banner-wrapper{float:left;width:100%;}