@charset "utf-8";  
   /* 
		=============================
		-->     Table of CSS     <--
		=============================
		
		
		(1)  Global Styling - Common for Body, Anchor Tags, Form Elements and various Text Elements.
		(2)  Header parts - Header Section
		(3)  Main Navigation - Stying for Main Navigation.
		(4)  Banner - Styling for Banner
		(5)  service quick links - service Quick links contents
		(6)  News update and our doctors - News section listing and Our doctors contents
		(7)  Our history and our Department - Our History and department contents
		(8)  Service section - Our service section contents here
		(9)  Footer parts - it have a news letter and athoer links contents
		
		
		=================================
		-->     End of Table CSS     <--
		=================================
*/

/* 
		============================
		-->   (1) Global Styling <--
		============================
*/
 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, partners {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #e4f0fa;
	font-size: 16px;
	margin: 0;
	padding:30px;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	width: auto/9;
	vertical-align: middle;
}
a {
	padding: 0;
	margin: 0;
	text-decoration: none !important;
	outline: none !important;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}
.outer-sync {
	width: 100%;
	float: left;
}
.p-l {
	padding-left: 0;
}
.p-r {
	padding-right: 0 !important;
}
.p-both {
	padding: 0;
}
/*==================================
  		 Header parts starts here 
  ==================================*/

header {
	background: url(../images/icons/header-var2.png) repeat-x;
	float: left;
	width: 100%;
}
.top-strip h2 {
	font-size: 13px;
	color: #78d5f4;
	display: inline-block;
	float: right;
	border-right: 1px solid rgb(85.9%, 92.2%, 96.1%);
	padding: 17px 15px 17px 0;
}
.top-strip h2 a {
	color: #484d58;
	padding-left: 2px;
}
.delt-bord {
	border: none !important;
	padding-right: 0 !important;
	padding-left: 15px !important;
}
.logo {
	padding: 27px 15px;
}
.navigation {
}
.drop {
	background: url(../images/icons/drop.png) 88% 52% no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.navbar {
	min-height: 0;
	margin: 0;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #000;
	background-color: transparent;
	background: url(../images/icons/nav-hover-var1.png) 19px 27px no-repeat;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: #000;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #91a8ae;
}
.navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	padding: 39px 19px 35px 20px;
}
.container-fluid, .navbar-collapse {
	padding: 0;
}
.nav li .lst-head {
	font-size: 13px;
	font-weight: 400;
	color: #fff !important;
	text-transform: uppercase;
	outline:none;
	border:none;
	background:url(../images/icons/button.png) left top no-repeat ;
	padding:10px 23px 10px 47px;
	margin:28px 0 0 37px;
}
.nav li .lst-head:hover {
	background:url(../images/icons/button-h.png) left top no-repeat;
}
/*==================================
   		 Header parts ends here 
  ==================================*/
  
  /*==================================
   		 Banner parts ends here 
  ==================================*/
.relative {
	position: relative;
	margin-top: -44.2%;
}
.banner {
	width: 100%;
	float: left;
	height: 660px;
}
.banner img {
	height: 660px;
	width:100%;
}
.banner-wrapper {
	position:relative !important;
}
.banner-caption h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
.banner-caption h2 span {
	display: block;
	font-size: 36px;
	font-weight: bolder;
}
.banner-caption p {
	font-size: 13px;
	color: #fff;
	font-family: "Lora", serif;
	font-style: italic;
}
.banner-caption button, .form-section button {
	background-color: #ffb45c;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 0px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: 166px;
	margin-top: 20px;
	border: none;
}
.banner-caption button:hover, .form-section button:hover {
	background-color: #f2a54b;
}
.banner-caption button:active, .form-section button:active {
	position: relative;
	top: 1px;
}
.form-section {
	background: #5dc5f6 url(../images/icons/ms-var1.png) 40px top no-repeat;
	border-radius: 4px;
	width: 100%;
	padding: 53px 40px 40px 40px;
}
.need-right {
	float: right;
}
.form-section h2 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}
.form-section h2 span {
	display: block;
	font-size: 26px;
	font-weight: 800;
}
.form-section .form-control {
	margin-bottom: 10px;
}
.form-section textarea {
	min-height: 93px;
	resize: none;
}
.form-section .form-control, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-moz-appearance: none;
	border-color: #cadfe4;
	border-radius: 2px;
	box-shadow: none;
	color: #91a8ae;
	font-size: 13px;
	height: 42px;
	text-shadow: none;
}
.form-section button {
	width: 100%;
	margin-top: 10px;
}
.banner-caption {
	margin-top: 11%;
}
/* main homepage banner setting re-arrangements */
.magnet {
	position:absolute;
	top:507px;
	right:0;
	left:0;
	margin:0 auto;
	width:100%;
	float:left;
}
.main-form {
	background:#78d0ee;
	padding:35px 15px 36px 15px;
	min-height:266px;

}
.main-form .form-group {
	 margin:0; 
}
.main-form .input-group-addon {
    top: -2px;
}
.working-times {
	background:#f8da73;
	padding:35px 15px 10px 15px;
	min-height:266px;
}
.h24 {
	font-size:15px;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	color:000;
	text-transform:uppercase;
	margin-bottom:20px;
}
.h24 span {
	font-size:24px;
	display:block;
	font-weight: 800;
	color:000;
}
.magnet .h24 {
	background:url(../images/icons/under-line.png) bottom left no-repeat ;
	padding-bottom:10px;
}
.for49 {
	width:49%;
	float:left;
	margin:0 2px;
}
.for49 textarea {
	height:78px !important;
	resize:none;
	 border: medium none;
    color: #91a8ae !important;
    float: left;
    font-size: 13px !important;
    margin: 2px 0;
    outline: medium none;
    padding: 9px 15px;
    width: 100%;
}
.all-in {
	border:none;
	outline:none;
	font-size:13px !important;
	height:auto !important;
	padding:9px 15px;
	margin:2px 0;
	float:left;
	width:100%;
	color:#91a8ae !important;
}
.all-in::-webkit-input-placeholder { /* WebKit browsers */
    color:#91a8ae !important;
}
.all-in:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#91a8ae !important;;
   opacity:  1;
}
.all-in::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#91a8ae !important;
   opacity:  1;
}
.all-in:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#91a8ae !important;
}
.tracker {
	position:relative;
	float:left;
	width:100%;
}
.bt {
	text-transform:uppercase;
	background:#f6772c;
	font-size:13px;
	font-weight:700;
	color:#fff;
	outline:none;
	border:none;
	position:absolute;
	bottom:3px;
	right:1px;
	border-radius:2px;
}
.bt:hover {
	background:#fa6d1a;
}
.details {
	width:29%;
	float:left;
	background:url(../images/icons/line.png) right top repeat-y;
	min-height:125px;
}
.details p {
	font-size:13px;
	color:#685e3b;
	line-height:22px;
}
.details p span {
	color:#383d48;
	font-weight:bold;
	display:block;
}
	
.discription {
	width:67%;
	float:left;
	padding-left:28px;
}
.discription p {
	font-size:13px;
	color:#84784c;
	line-height:22px;
}
.discription .put {
	font-size:13px;
	color:#fff;
	font-weight:bold;
	background:#f6772c url(../images/icons/but-ar.png) 90% center no-repeat;
	outline:none;
	border:none;
	width:142px;
	border-radius:2px;
	padding:7px 17px 9px 17px;
	text-align:left;
	text-transform:uppercase;
	margin:24px 0;
	float:left;
}
.discription .put:hover {
	background:#fa6d1a url(../images/icons/but-ar.png) 90% center no-repeat;
}
/*==================================
		 Banner parts ends here 
  ==================================*/ 
  /*==================================
   ----  service quick links here
  ==================================*/   
.first-section {
	width: 100%;
	float: left;
	background: #fff;
}
.title-grp {
	color: #383d48;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 1;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.title-grp span {
	display: block;
	font-size: 18px;
	font-weight: 400;
}
.p82-topbot {
	padding: 63px 0;
}
.member {
	position: relative;
}
.member .bx-next {
	background: url(../images/icons/right-arrow.png) no-repeat;
	display: block;
	height: 14px;
	margin: 2px 0 0;
	position: absolute;
	right: 14px;
	top: 23px;
	width: 8px;
}
.member .bx-prev {
	background: url(../images/icons/left-arrow.png) no-repeat;
	display: block;
	height: 14px;
	margin: 2px 0 0;
	position: absolute;
	right: 28px;
	top: 23px;
	width: 8px;
}
.lft-bottom {
	margin-bottom: 36px;
}
.element-lft img {
	float: left;
	padding-right: 20px;
}
.element-lft {
	border-right:1px solid #d8e7f0;
}
.element-lft:last-child {
	border-color:transparent;
}
.text-needleft {
	float: left;

}
.text-needleft h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 13.5px;
	color: #383d48;
	font-weight: 800;
	text-transform: uppercase;
	padding: 20px 0px 9px;
}
.text-needleft p {
	color: #6e868c;
	line-height: 24px;
	font-size: 13px;
}
.left .title-grp {
	padding-left: 15px;
}
.var2-bt {
	outline:none;
	border:none;
	width:30px;
	height:30px;
	float:left;
	margin:30px 0px 2px;
	background:url(../images/icons/var2but.png) left top no-repeat;
}
.var2-bt:hover , .element-lft .active {
	background:url(../images/icons/var2but-hover.png) left top no-repeat;
}
/*==================================
   		 Quick links ends here
  ==================================*/ 
    /*==================================
   		 News update and our doctors here 
  ==================================*/ 
.second-section {
	width: 100%;
	float: left;
	background: #f0f8ff;
}
.all-news {
	float: left;
}
.disast {
	list-style: outside none none;
	padding-left: 0;
}
.news-date {
	background: none;
	border:2px solid #000;
	color: #000;
	float: left;
	font-size: 14px;
	height: 68px;
	line-height: 1.1;
	padding-top: 10px;
	text-align: center;
	width: 68px;
}
.news-date span {
	font-size: 30px;
	font-weight: 800;
	display: block;
}
.all-news ul li:first-child {
	padding-top: 0;
}
.all-news ul li {
	border-bottom: 1px dotted #cbdceb;
	padding: 28px 0;
	width: 100% !important;
}
.news-text {
	padding-left: 100px;
}
.more {
	color: #ffb45c;
	margin-left: 10px;
}
.more::before {
	content: "[";
	margin-right: 3px;
	position: relative;
}
.more::after {
	content: "]";
	margin-left: 3px;
	position: relative;
}
.more:hover::before {
	left: -3px;
}
.more:hover::after {
	right: -3px;
}
.more:hover {
	color: #ffb45c;
}
.news-text h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 13.5px;
	color: #383d48;
	text-transform: uppercase;
	font-weight: 800;
	padding-bottom: 12px;
}
.news-text p {
	color: #6e868c !important;
	font-size: 13.5px;
	padding:0 !important;
}
.btn-primary {
	border: none;
	background: #ffb45c;
	border-width: 0 0 0px;
}
.btn-primary:hover {
	background-color: #f2a54b;
}
.white-bx {
	background:#fff;
	border:1px solid #dceaf6;
	min-height:161px;
	position:relative;
}
.white-bx > img {
	width:153px;
	height:159px;
	float:left;

}
.letter {
    float: left;
    width: 204px;
	padding:45px 0px 53px 25px;
}
.letter h2 {
	color:#6e868c;
	font-size:12.99px;	
}
.letter h2 span {
	color:#383d48;
	font-size:13.48px;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	display:block;
	padding-bottom:3px;
}
.must .col-sm-6 {
	padding-right:0;
	margin-bottom:15px;
}
.must .title-grp {
	padding-left:15px;
}
.social-media {
	position:absolute; 
	bottom:0;
	border-top:1px solid #dceaf6;
	width:204px;
	float:left;
	right:0;
	height:29px;
}
.tst{
	padding-left:25px !important;
}
.social-media > a {
    padding: 4px 10px 6px;
	border-right:1px solid #dceaf6;
	font-size:13.5px;
	color:#383d48;
}
.social-media > a:nth-child(3) , .social-media > a:last-child {
	border-color:transparent;
}
.bg {
	background:url(../images/icons/soci-ico.png) right center no-repeat;
}
/*==================================
  		News update and our doctors ends here
  ==================================*/ 
    /*==================================
   		 Service Section starts here 
  ==================================*/ 
.third-section {
	width: 100%;
	float: left;
	background: #f0f8ff;
}
.service-box {
	border: 1px solid #e6ebf4;
	margin: 15px 0;
	min-height: 280px;
	padding: 25px;
}
.service-box h2 {
	margin-top: 20px;
	margin-bottom: 9px;
	font-family: 'Raleway', sans-serif;
	font-size: 13.5px;
	color: #383d48;
	text-transform: uppercase;
	font-weight: 800;
}
.service-box p {
	margin-bottom: 50px;
	font-size: 13.5px;
	color: #6e868c;
	line-height:24px;
}
.service-box .readmore {
	color: #383d48;
	text-decoration: none;
	font-size: 13.5px;
}
.service-box .readmore:hover {
	color: #22252b;
}
.service-box .readmore i {
	color: #a39abd;
	position: relative;
	top: 0;
	transition: transform 0.3s ease 0s;
}
.service-box .readmore:hover i {
	padding-left: 5px;
	transition: transform 0.3s ease 0s;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}
.more-last {
	border-radius: 3px 3px 3px 3px;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: 800;
	padding: 12px 16px;
	text-transform: uppercase;
	background: #ffb45c;
	border-width: 0 0 0px;
}
.more-last:hover {
	color: #fff;
	background-color: #f2a54b;
}
.txt-center {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
/*==================================
   		Service section ends here 
  ==================================*/ 
/*==================================
  Our history and our Department starts here 
  ==================================*/   
.repeter-section {
	background:#fff;
	width:100%;
	float:left;
}
.history11 > p {
	color:#4c6880;
	font-size:13px;
	line-height:22px;
	padding:20px 0;
}
.history11 > a {
	color:#383d48;
	font-size:13.5px;
	padding:10px 10px 0 0;
}
.history11 > .bg {
	background-position: right 16px;
}
.department > .dept ul li {
	width:100%;
}
.dept {
	border:1px solid #dceaf6;
	width:100%;
	float:left;
}
.dept ul li > div {
	float:left;
	width:100%;
}
.dept ul li div img {
	float:left;
}
.dept ul li {
	list-style:none;
	/*width:100%;*/
	float:left;
}
.dept ul li a , .out-a {
	font-size:13.5px;
	color:#383d48;
	padding:0 10px 0 0;
}
.out-a {
	display:inline-block;
	margin-top:36px;
}
.dept ul li p {
	color:#4c6880;
	font-size:13px;
	padding-bottom:10px;
}
.dept ul li h3 {
	font-size:12.5px;
	color:#383d48;
	font-weight:700;
	/*font-family: "Raleway", sans-serif;*/
	text-transform:uppercase;
	padding:9px 17px;
	width:100%;
	cursor:pointer;
	background: #fff url(../images/icons/flip-ico%2b.png) 97% 49% no-repeat;
}
.dept li h3:focus{
	background:url(../images/icons/flip-ico.png) 97% 49% no-repeat;
}
.dept li img {
	padding-right:10px;
}
#panel1, #flip , #flip2 , #flip3 , #panel2 , #panel3 
 {
    border-top: solid 1px #dceaf6;
	background:#fff;
}

#panel1 , #panel2 , #panel3 ,#down1 ,#down2 ,#down3 ,#down4 ,#down5
#down6 ,#down7 ,#down8,#down9 {
    display: none;
	padding:28px 15px;
}
#down1 ,#down2 ,#down3 ,#down4 ,#down5 ,
#down6 ,#down7 ,#down8,#down9 {
	border-right: solid 1px #dceaf6;
	border-left: solid 1px #dceaf6;
}
#TopLevelList li h3 {
	border-top: solid 1px #dceaf6;
	border-right: solid 1px #dceaf6;
	border-left: solid 1px #dceaf6;
	/*border-bottom: solid 1px #dceaf6;*/
}
.jim h3{ border-bottom:1px solid #dceaf6 !important; }
/*#TopLevelList li:nth-child(2) > h3 {
	border-top: solid 1px #dceaf6;
}
#TopLevelList li:nth-child(1) > h3 {
	border-top: solid 1px #dceaf6;
	border-bottom:hidden;
}
#TopLevelList li:nth-child(7) > h3 {
	border-top: solid 1px #dceaf6;
}
*/

/*==================================
  Our history and our Department ends here 
  ==================================*/   
    /*==================================
   		 footer parts starts here 
  ==================================*/   

.footer {
	background: #6acff0;
	padding: 80px 0;
	float: left;
	width:100%;
}

.footer .all-need h2 {
	font-family: "Raleway", sans-serif;
	font-weight:800;
	font-size:22px;
	color:#fff;
	text-transform:uppercase;
	padding-bottom:13px;
}
.footer .all-need p {
	font-size:13.5px;
	color:#daf6ff;
	padding:0 0 10px 0;
	line-height:24px;
}
.faddress {
    line-height: 24px;
}
.faddress span {
    color: #fff;
}
.faddress , .faddress a {
    color: #daf6ff;
	font-size:13.5px;
}
.list-styles ul li {
	background:url(../images/icons/lsat.png) left 8px no-repeat ;
	list-style:none;
	padding:0 0 3px 20px;
}
.list-styles ul li:hover {
	background:url(../images/icons/li-icon.png) left 8px no-repeat ;
}
.list-styles ul li a {
    color: #daf6ff;
	font-size:13.5px;
}
.list-styles ul li a:hover {
	color:#fff;
}
.copyrights{
	text-align:center;
	width:100%;
	float:left;
	padding:20px 0;
	background:#53b6d6;
}
.copyrights p {
	color:#fff;
	font-size:13.5px;
}
.news-letter {
	height:auto;
	float:left;
	position:relative;
	width:100%;
}
.news-letter input {
	width:100%;
	border:none;
	outline:none;
	height:auto !important;
	color:#a2b8be;
	font-size:13.px;
	line-height:0;
	border-radius:0;
	padding:14px 15px ;
}
.news-letter button {
	background:#ffe073;
	text-transform:uppercase;
	color:#fff;
	font-size:13.5px;
	outline:none;
	border:none;
	position:absolute;
	right:0;
	top:0;
	padding:11px 13px;
}
.news-letter button:hover {
	background:#f9d75e;
}
.news-letter input:focus::-webkit-input-placeholder 
{ line-height: 16px;}
.news-letter input::-webkit-input-placeholder { line-height: 16px; /* fix chrome bug */ }
.news-letter ::-webkit-input-placeholder { /* WebKit browsers */
    color:#a2b8be;
}
.news-letter :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#a2b8be;
   opacity:  1;
}
.news-letter ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#a2b8be;
   opacity:  1;
}
.news-letter :-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#a2b8be;
}	
/*======================
	NEWS PAGE
  ======================*/
.inner-banner {
	position:relative;
	height:240px;
	width:100%;
	float:left;
}
.inner-banner img {
	height:240px;
	width:100%;
}
.inner-banner .container .row > h2 {
	text-transform:uppercase;
	font-family: "Raleway", sans-serif;
	font-weight:800;
	font-size:24px;
	color:#fff;
	text-align:center;
	padding:11.5px 14px;
	background:#6acff0;
	position:absolute;
	bottom:0;
}
.filter { text-align:right; }
.filter button {
	outline:none;
	border:none;
	background:#6acff0;
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	width:127px;
	padding:10px 0;
	text-align:center;
	font-size:13px;
	float:right;
	margin:0 0 0 12px;
}
.filter button:hover {
	background:#5ccdf2;
}
.news-covering {
	float:left;
	width:100%;
	padding:15px 0px 35px 0px;
	border-bottom:1px solid #e3eaef;
}
.news-covering:last-child {
	border-bottom:none;
}
.image-section {
	padding-left:0;
}
.image-section img {
	float:left;
	width:100%;
}
.image-section h2 {
	font-size:13px;
	color:#383d48;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	background:#ffe073;
	padding:10px 0;
	clear:left;
}
.news-detail h2 {
	color:#383d48;
	font-size:13.5px;
	font-weight:800;
	font-family: "Raleway", sans-serif;
	text-transform:uppercase;
	padding:10px 0;
}
.news-detail h2 span {
	font-family: "Raleway", sans-serif;
	display:block;
	font-size:13px;
	font-weight:400;
	color:#868b97;
	padding-top:5px;
	padding-bottom:11px;
	background:url(../images/icons/yellow-bg.png) left bottom no-repeat ;
}
.news-detail p {
	font-size:13.5px;
	color:#6e868c;
	line-height:24px;
}


/*======================
	NEWS PAGE
  ======================*/
/*======================
	DOCTOR PAGE
  ======================*/  
.jst-cov {
    float: left;
    width: 100%;
	padding-bottom:15px;
}
.doctor {
	border-bottom:2px solid #ffe073;
	padding-bottom:16px;
	margin-bottom:40px;
}
.doctor img {
	float:left;
}
.doctor h2 {
	color:#383d48;
	font-weight:800;
	font-size:13.5px;
	text-align:center;
	text-transform:uppercase;
	
}
.doctor h2 span {
	display:block;
	color:#4c6880;
	font-size:13px;
	font-weight:normal;
	padding-top:5px;
}
.social-net {
  float: none;
  text-align: center;
  width: 64px;
  height: 30px;
  clear: both;
  margin: 0 auto;
  padding-top:11px;
}
.social-net a {
	padding:14px 18px 5px 0;
	float:left;
}
.face-d {
	background:url(../images/icons/face.png) left top no-repeat;
}
.twitt-d {
	background:url(../images/icons/twitt.png) left top no-repeat;
}
.google-d {
	background:url(../images/icons/google.png) left top no-repeat;
}
.face-d:hover {
	background:url(../images/icons/face-hov.png) left top no-repeat;
}
.twitt-d:hover {
	background:url(../images/icons/twitt-hov.png) left top no-repeat;
}
.google-d:hover {
	background:url(../images/icons/google-hov.png) left top no-repeat;
}

.doc > .active , .doc:hover .doctor {
	border-bottom:2px solid #6acff0; 
}
.doc > .doctor h3.active , .doc:hover h3{
	background: #6acff0; 
	color:#fff;
}
/*======================
	DOCTOR PAGE
  ======================*/   
/*======================
	DOCTOR TIMETABLE PAGE
  ======================*/ 
.doctor h3 {
	font-size:13px;
	color:#000;
	font-weight:normal;
	text-align:center;
	background:#6acff0;
	padding:16px 0;
	background:#ffe073 ;
	clear:left;
	text-transform:uppercase;

}

/*======================
	DOCTOR TIMETABLE PAGE
  ======================*/ 
/*======================
	SERVICE PAGE
  ======================*/
.service .service-box > img {
	float:left;
	padding-right:28px;
}
.service .service-box h2 {
	margin-top:2px;
}
.service .service-box {
	float:left;
	min-height:0;
	padding:37px 25px;
}
.service .service-box p {
	margin-bottom:0;
	line-height:24px;
	font-size:13.5px;
}
.lib {
	float:left;
	width:80%;
}
.happy-clients {
	background:#f0f8ff;
	float:left;
	width:100%;
	padding:50px 0;
}
.happy-client .title-grp {
	font-size:24px;
}
.small-let p {
	font-size: 15px;
	color: #6e868c;
	font-family: "Lora", serif;
	font-style: italic;
	background:url(../images/icons/quote-l.png) left top no-repeat , 
			   url(../images/icons/quote-r.png) bottom right no-repeat ;
	padding:37px 0 8px 0;
}
.small-let h2 {
	font-size:13.5px;
	color:#6e868c;
	font-weight:normal;
	text-transform:uppercase;
	line-height:25px;
	padding-top:5px;
}
.small-let h2 span {
	font-size:13.5px;
	color:#6e868c;
	font-weight:600;
	display:block;
}
.slide-cover {
	width:100%;
	float:left;
	position:relative;
}
.slide-cover ul li {
	list-style:none;
}
.bx-pager {
	position:absolute;
	right:0;
	top:0;
}
.bx-pager-item {
    float: left;
    height: 14px;
    width: 14px;
	background:#dce8f1;
	border-radius:50%;
	text-indent:0px;
	margin:0 2px;
	overflow:hidden;
}
.bx-pager-item > a.active {
	background:#ffe073 !important;
	color:#ffe073;
	padding:15px;
	
}
.bx-pager-link , .bx-pager-link:hover {
    color: #dce8f1;
}
/*======================
	SERVICE PAGE
  ======================*/
/*======================
	CONTACT PAGE
  ======================*/
.contact .title-grp , .map .title-grp {
	font-size:24px;
}
.map-cov { width:100%; float:left; height:199px; overflow:hidden; }
.contact input , .contact textarea {
	width:100%;
	border:1px solid #e4edf6;
	height:auto;
	padding:9px 15px;
	margin:5px 0;
	color:#6e868c;
	font-size:13.5px;
}
.contact textarea {
	min-height:193px;
	resize:none;
}
.contact button {
	font-size:14px;
	color:#fff;
	font-weight:400;
	outline:none;
	border:none;
	background:#f6772c;
	text-transform:uppercase;
	padding:6px 18px;
	border-radius:5px;
	margin-top:10px;
}
.m5 {
	margin-top:5px;
}
.ids {
	margin-top:31px;
	padding-left:0;
	padding-right:0;
}
.ids h2 {
	font-size:13.5px;
	color:#6e868c;
	line-height:24px;
	padding-left:27px;
}
.ids h2 span {
	display:block;
}
.location {
	background:url(../images/icons/location-var2.png) left 5px no-repeat ;
}
.message {
	background:url(../images/icons/message-var2.png) left 5px no-repeat ;
}
.phone {
	background:url(../images/icons/phone-var2.png) left 5px no-repeat ;
}
.pic100 img { 
	width:100%; 
}
/*======================
	CONTACT PAGE
  ======================*/
/*======================
	ABOUT PAGE
  ======================*/
.about .title-grp {
	font-size:24px;
}
.about > p {
	font-size:13px;
	color:#4c6880;
	line-height:22px;
}
.high-image img {
    float: right;
}
.about-img {
	position:relative;
}
.small-image {
	position:absolute;
	top:113px;
}
.department-section {
	width:100%;
	float:left;
	background:#f0f8ff;
	padding:60px 0;
}
.strict > .dept { 
	width:50%; 
	padding:0; 
}
.dic { 
	width:100%; 
}

.department-section .department .dept #panel1, .department-section .department .dept #flip , .department-section .department .dept #flip2 , .department-section .department .dept #flip3 , .department-section .department .dept #panel2 , .department-section .department .dept #panel3 {
	background:#f0f8ff
}
.department-section .dept ul li h3 {
	background-color:#f0f8ff !important ;
	cursor:pointer;
}
.lessp {
	padding:0;
}
.lessp .dept {
	border:none;
}
/*======================
	ABOUT PAGE
 ======================*/ 
/*======================
	APPOINTMENT PAGE
 ======================*/ 
 
.appointments input , .appointments textarea {
	width:100%;
	border:1px solid #e4edf6;
	height:auto;
	padding:9px 15px;
	margin:7px 0;
	color:#6e868c;
	font-size:13.5px;
}
.appointments textarea {
	min-height:180px;
	resize:none;
}
.appointments  .sbHolder {
	width:100%;
	font-size:13.5px;
	margin-bottom:7px;
}
.appointments .sbSelector {
	padding-left:5px;
}
.m0 {
	margin-top:0 !important;
}
.form-horizontal .form-group { 
	margin:0;
	position:relative !important;
}
.input-group-addon {
	background-color:transparent;
}
.input-group {
	width:100%;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
	display:block;
	position:absolute;
	top:5px;
	right:22px;
	border:none;
	font-size:28px;
	color:#d1dde7;
}
.appointments button {
    background: none repeat scroll 0 0 #f6772c;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    outline: medium none;
    padding: 6px 18px;
    text-transform: uppercase;
}
.appointments button:hover {
	background:#e6712c;
}
/*======================
	APPOINTMENT PAGE
 ======================*/ 
/*  ==================================
   		Blog parts starts here
    ==================================*/   
.blog-page {
	width:100%;
	float:left;
	background:#fff;
}
.im-blog {
	position:relative;
	float:left;
	width:100%;
}
.im-blog img {
	float:right;
}
.im-blog h2 {
	color:#383d48;
	font-size:18px;
	font-weight:800;
	background:#ffe073;
	padding:15px 28px;
	position:absolute;
	left:0;
	top:132px;
}
.step-right {
	float:right;
	margin:28px 0;
}
.step-right h2 {
	font-size:16px;
	color:#383d48;
	font-weight:800;
	text-transform:uppercase;
}
.step-right h2 span {
	display:block;
	font-size:13px;
	color:#868b97;
	font-weight:400;
	text-transform:capitalize;
	line-height:27px;
}
.step-right h2 span a {
	color:#868b97;
	padding:0 4px 0 18px ;
}
.bk {
	display:inline-block !important;
	padding:0 5px;
}
.admin {
	background:url(../images/icons/admin.png) left 2px no-repeat;
}
.health {
	background:url(../images/icons/health.png) left 3px no-repeat;
}
.step-right p {
	font-size:13.5px;
	color:#6e868c;
	line-height:24px;
	padding:15px 0;
}
.step-right > a {
	color:#383d48;
	font-size:13.5px;
	padding-right:9px;
}
.step-right > .bg {
	background-position:100% 7px;
}
.bord100 {
	width:100%;
	border-bottom:1px solid #e3eaef;
	border-top:1px solid #e3eaef;
	float:left;
	margin-top:21px;
}
.normal {
	width:141px;
	float:right;
	padding:5px 0;
}
.normal span {
	color:#383d48;
	font-size:13.5px;
}
.normal > a {
	padding:0 5px;
}
.right-section {
	padding-left:50px;
}
.right-section  input {
	border:none;
	outline:none;
	color:#99abba;
	font-size:13px;
	padding:15px;
	border:1px solid #dce8f1;
	width:69%;
}
.right-section button {
	border:none;
	float:right;
	outline:none;
	text-transform:uppercase;
	color:#fff;
	font-size:13px;
	font-weight:700;
	background:#6acff0;
	padding:10px 18px;
	border:1px solid #6acff0;
}
.right-section button:hover {
	background:#57c9ee;
}
.right-section h2 {
	font-size:24px;
	color:#383d48;
	font-weight:800;
	text-transform:uppercase;
	padding:45px 0 15px 0;
}
.accordian  ul li {
	list-style:none;
	padding:12px 0;
	border-bottom:1px solid #dce8f1;
	float:left;
	width:100%;
}
.accordian  ul li:last-child {
	border:none;
}
.accordian  ul li a {
	font-size:13.5px;
	color:#6e868c;
	background:#fff url(../images/icons/li-right.png) 97% 49% no-repeat;
	cursor:pointer;
	float:left;
	width:100%;
}
.futured-box ul li {
	list-style:none;
	float:left;
	padding:5px 0 20px 0;
	margin-bottom:15px;
	border-bottom:1px solid #dce8f1;
}
.futured-box ul li:last-child {
	border:none;
}
.futured-box ul li img {
	float:left;
	padding-right:23px;
}
.futured-box ul li h2 {
	font-size:13px;
	color:#383d48;
	font-weight:800;
	padding:5px 0;
}
.futured-box ul li p {
	font-size:13px;
	color:#6e868c;
	font-weight:normal;
	line-height:24px;
}
.tags > a {
	font-size:13.5px;
	color:#6e868c;
	border:1px solid #dce8f1;
	float:left;
	padding:8px 22px;
	margin-right:14px;
	margin-bottom:14px;
}
.tags > a:hover {
	border:1px solid rgb(42%, 81.2%, 94.1%);
}
.pager-section {
	float:right;
	margin-top:25px;
}
.pager-section > a {
	width:33px;
	height:33px;
	border:1px solid #dce8f1;
	float:left;
	padding-top:5.5px;
	text-align:center;
	font-size:13.5px;
	color:#383d48;
	margin-right:10px;
}
.p-right {
	background:url(../images/icons/p-right.png) left top no-repeat ;
	border:1px solid #6acff0 !important;
}
.p-left {
	background:url(../images/icons/p-left.png) left top no-repeat ;
	border:1px solid #6acff0 !important;
}
.quote p {
	font-family: 'Lora', serif;
	font-style:italic;
	font-size:15px;
	color:#383d48;
	background: url(../images/icons/quote-circle.png) 6% 40% no-repeat; 
	padding-left:127px;
}
.comments {
	margin:40px 0;
	width:100%;
	float:left;
}
.comments ul li {
	list-style:none;
}
.comments h2 {
	font-size:24px;
	color:#383d48;
	font-weight:800;
}
.pad0 {
	padding:0;
}
.comments ul li h3 {
	font-size:13px;
	font-weight:600;
	text-transform:uppercase;
}
.comments ul li {
	padding:35px 0px;
	float:left;
	border-bottom:1px solid #dce8f1;
}
.comments ul li:last-child {
	border:none;
}
.comments ul li h3 span {
	color:#383d48;
	float:right;
}
.comments ul li p {
	padding:6px 0 0 0;
	line-height:19px;
}
.comments ul li a {
	color:#383d48;
	font-size:13.5px;
	padding-right:10px;
	float:left;
	margin:20px 0 0 0;
}
.comments ul li .bg {
	background-position:100% 8px;
}
.leave-page {
	float:left;
	width:100%;
	padding:60px 0;
	background:#f0f8ff;
}
.center {
	float:none;
	margin:0 auto;
	padding:0;
}
.center h2 {
	font-size:24px;
	color:#383d48;
	font-weight:800;
	text-transform:uppercase;
}
.form-less {
    padding: 25px 0 0;
}
.form-less input {
    border: 1px solid #e2ecf5;
    height: auto;
    margin: 5px 0;
    outline: medium none;
    padding: 10px 15px;
    width: 100%;
	color:#6e868c;
	font-size:13.5px;
}
.text-area {
	padding:25px 15px 0 15px;
}
.text-area textarea {
	resize:none;
	margin:5px 0;
	border:1px solid #e2ecf5;
	padding:10px 15px;
	color:#6e868c;
	font-size:13.5px;
	width:100%;
	min-height:143px;
}
.center button {
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	background:#f6772c;
	padding:8px 23px;
	border-radius:4px;
	border:none;
	outline:none;
	font-weight:600;
}
.center button:hover {
	background:#e66417;
}
.full {
	width:100%;
	float:left;
	margin:15px 0 0 0;
}
.pb-0 {
	padding-bottom:0 !important;
}
/*  ==================================
   		Blog parts ends here
    ==================================*/ 
/*  ==================================
   		404 parts starts here

    ==================================*/ 	
.error-4 {
	border-top:1px solid rgb(85.9%, 92.2%, 96.1%);
	padding-top:130px;
	padding-bottom:140px;
}
.error-4 h2 {
	color:#383d48;
	font-size:18px;
	line-height:23px;
	text-align:center;
}
.error-4 h2 span {
	color:#9dacb8;
	font-size:13px;
	text-align:center;
	display:block;
}
.error-4 h3 {
	font-size:200px;
	text-align:center;
	font-weight:900;
	

}

	
@media screen and (-webkit-min-device-pixel-ratio:0) {
.news-letter button {
	right:0;
	top:0;
	padding:13px 13px;
}
	}
	

/*======================
	FOR CHECKBOX 
 ======================*/

.squaredOne, .squaredtwo, .squaredthree, .squaredfour {
	width: 28px;
	height: 28px;
	margin:0 15px;
	position: relative;
	border:1px solid #e1e9f1;
	float:left;
}

.squaredOne label, .squaredtwo label, .squaredfour label, .squaredthree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 3px;
	top: 3px;
	outline:none !important;
	background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
	background: linear-gradient(top, #fff 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

.squaredOne label:after, .squaredtwo label:after, .squaredthree label:after, .squaredfour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #6acff0;
	outline:none !important;
	background: -webkit-linear-gradient(top, #6acff0 0%, #6acff0 100%);
	background: -moz-linear-gradient(top, #6acff0 0%, #6acff0 100%);
	background: -o-linear-gradient(top, #6acff0 0%, #6acff0 100%);
	background: -ms-linear-gradient(top, #6acff0 0%, #6acff0 100%);
	background: linear-gradient(top, #6acff0 0%, #6acff0 100%);
	top: 2px;
	left: 2px;
}

.squaredOne label:hover::after, .squaredtwo label:hover::after, .squaredthree label:hover::after, .squaredfour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	
}

.squaredOne input[type=checkbox]:checked + label:after, .squaredtwo input[type=checkbox]:checked + label:after, .squaredthree input[type=checkbox]:checked + label:after, .squaredfour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
input[type=checkbox] {
	visibility: hidden;
	outline:none !important;
}
.nms {
	float:left;
    color: #6e868c;
    font-size: 13.5px;
	font-weight:normal;
	padding-top:4px;
}
.form-horizontal {
    margin-bottom: 16px;
}

	
/* dropdown navigation like this */
.drop-down-bg {
	background:url(../images/icons/drop-hover-2.png) left top no-repeat;
	width:30px;
	height:11px;
	position:absolute;
	top:-11px;
}
.navbar-nav > li > .dropdown-menu {
    background:#5dc5f6;
    border-radius:2px;
    margin-top: 0;
}
.dropdown-menu {
	top:80%;
	left:25%;
	border:none;
	box-shadow:none;
	
}
.dropdown-menu > li > a {
	color:#d8d8d8;
	line-height:28px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #4dbef4;
    color: #fff;
    text-decoration: none;
}

.main-form .success,.main-form #ferror {
    color: #fff;
    font-size: 12px;
    padding: 2px 15px;
    right: 22px;
	bottom:11px;
	position:absolute;
    text-transform: uppercase;
	margin-top:5px;
}

.color-comb1 {
	color:#FFE073;
}
.color-comb2 {
	color:#CDDA9C;
}
.color-comb3 {
	color:#9BD4C6;
}


/*yash chages for notification messages list */
.notification-list{    
	    list-style: none;
    box-shadow: 0px 5px 6px rgba(111, 111, 111, 0.31);
    position: absolute;
    width: 250px;
    background: white;
    padding: 15px;
    font-size: 13px;
    right: 0;top: 53px;}
	.mt10{margin-top:10px;}
	.notification-list:before{border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;position:absolute;right:20px;content:'';top:-10px;}

.notification-list li:not(:last-child){border-right:none !important;border-bottom:1px solid #f0f0f0;padding-bottom:10px;}
.notification-list h2{float:left !important;width:100%;border-right:none !important;padding:3px 0px !important;}
.time{color: #dedede !important;margin-top: 5px;}
.noti-counter{font-size:10px;}
.name-suggesstion-box ul{    list-style: none;
    background: white;
    border: 1px solid #cadfe4;
    margin-top: -1px;
    border-top: 0px;
    border-top: 1px dashed #f0f0f0;
    padding: 8px;
    font-size: 14px;
    line-height: 24px;}
	.name-suggesstion-box ul li{cursor:pointer;}
	.name-suggesstion-box ul li:hover{color:#87daf6;}
	section[for="side-filter"] .sinput{border:1px solid #cadfe4 !important;height:42px !important;}
	#review-form{border: 1px solid #b4bfc1;
padding: 20px;
box-shadow: 0px 0px 12px #93a5a8;
background: #f9f9f9;}
.social-icons i{height: 20px;
vertical-align: middle;
display: table-cell;
width: 21px;}
#mce-EMAIL{height: 44px !important;}

/** Pagination Style **/
.navi {
	width: 500px;
	margin: 5px;
	padding:2px 5px;
	border:1px solid #eee;
}

.show {
	color: blue;
	margin: 5px 0;
	padding: 3px 5px;
	cursor: pointer;
	font: 15px/19px Arial,Helvetica,sans-serif;
}
.show a {
	text-decoration: none;
}
.show:hover {
	text-decoration: underline;
}


ul.setPaginate li.setPage{
	padding:15px 10px;
	font-size:14px;
}

ul.setPaginate{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:12px 'Tahoma';
	list-style-type:none;	
}  

ul.setPaginate li.dot{padding: 3px 0;}

ul.setPaginate li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}



ul.setPaginate li a
{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #cccccc;
	color: #999999;
	display: inline-block;
	font: 15px/25px Arial,Helvetica,sans-serif;
	margin: 5px 3px 0 0;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
}	

ul.setPaginate li a:hover,
ul.setPaginate li a.current_page
{
	background: none repeat scroll 0 0 #0d92e1;
	border: 1px solid #000000;
	color: #ffffff;
	text-decoration: none;
}

ul.setPaginate li a{
	color:black;
	display:block;
	text-decoration:none;
	padding:5px 8px;
	text-decoration: none;
}