.navbar-nav.mynav-01{background:transparent;}
.navbar-nav.mynav-01 > li > a{padding:6px 20px 6px 20px !important;}
.drop {background: url(../images/icons/drop.png) 96% 52% no-repeat;}
.border-radius-0{border-radius:0px;}
.anchor-padding{padding: 12px 10px !important;}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 4px;
}
:focus {
    outline: none !important;
}
@media screen and (max-width:768px)
{
	.mobile-part img{margin:0 auto;margin-top:0px;width: 300px;}
	.sublist-top-container{max-width:700px;padding:7px;}
	.search-advanced-tabs li{border-top: 1px dashed #6bcff1;}
	.search-form-0{
	background: #fff9;
	padding: 5px 5px;
	margin: 11px 0px;
	/* margin-top: -100px; */
	border: 1px solid #f0f0f0;
	}
	.search-btn{
	width: 100%;
	border-radius: 0px;
	padding: 0px;
	margin-top: 6px;
	/* padding: 14px 39px; */
	font-size:28px;
	}
        
        /* modal vertical center */

.radius-0{border-radius:0px !important;}
.w100{width:100%;margin-top:4px;float:left;}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
    .search-form-0 input{background: #ffffff80;height:42px;margin-bottom:5px;border:1px dashed #31b0d5;
    color:black;}
    .text-center-small{text-align:center !important;}
    .pull-left-small{float:left !important;}
    .pull-right-small{float:right !important;}
    .drawl-left{float: left;top: -12px;z-index: 2;}
}
@media screen and (min-width:769px)
{
	.mobile-part img{margin:0 auto;margin-top:-80px;width: 300px;}
	.sublist-top-container{max-width:800px;padding:60px;font-size:13px;}
	.search-form-0 input.location-input{border-right: 1px solid #000 !important;}
	.search-form-0{
	width: 100%;
	background: rgba(255,255,255,0.6);
	min-height: 70px;
	border-radius: 3px;
	}
	.search-btn{
	border-radius: 3px;
	padding: 14px 39px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 28px;
	}
	.search-form-0 input.location-input,.search-form-0 input.sinput {
	height: 62px;
	margin-top:4px;
	font-size:18px;
	color:black;
	border: none;
	border-radius: 0;
	background: rgba(255,255,255,0);
	}
	.text-center-large{text-align:center !important;}
	.pull-left-large{float:left !important;}
	.pull-right-large{float:right !important;}
}
.z-index-1{z-index:1 !important;}
.padding-0{padding:0px !important;}
.search-form-0 input:focus{box-shadow:none !important;border:none;}

.white-bg{background:white !important;}
.white{color:white !important;}
.social-icons a{
padding: 6px 8px !important;
border: 1px solid #fff;
margin: 2px;
width: 35px;
border-radius: 50%;}


.banner{max-height:400px;overflow:hidden;}
.magnet{top:40%;}
.ptb{padding:20px 0px !important;}
.ptb1{padding:10px 0px !important;}
.search-advanced-tabs{background: #3fc8f4;margin-top:30px;}
.search-advanced-tabs li a:hover,.search-advanced-tabs li a:focus{background:#3fc8f4 !important;color:white;}
.search-advanced-tabs li a i.fa-plus,.search-advanced-tabs li a i.fa-minus{border: 1px solid #fff;padding: 5px 6px 2px 6px;}
.search-advanced-tabs li a{line-height:40px;background:#3fc8f4;color:white !important;border:none;border-radius:0px !important;border:none !important;}
.search-advanced-tabs li.active a{background:#6bcff1 !important;color:white !important;}

.sublist-container{margin-bottom:20px;}
.sublist-container img{height:30px;}

.download-parts{min-height:300px;}
.padding-bottom-80{padding-bottom:80px;}
.padding-top-80{padding-top:80px;}
.in-align{padding-top:0px;}
header{background:#e4f0fa;}
.banner-wrapper{float:left;width:100%;}



/* searching page style */

.margin-bottom-10{margin-bottom:10px !important;}
.margin-bottom-30{margin-bottom:30px !important;}
.margin-left-0{margin-left:0px !important;}
.margin-right-0{margin-right:0px !important;}
.margin-top-0{margin-top:0px !important;}
.margin-bottom-0{margin-bottom:0px !important;}
.divide{margin:3px 0px;border-color:transparent;}
.g1{margin-right: 17px;margin-top: 4px;}
.loop-search{line-height: 25px;background:white;border:2px;margin-bottom:20px;border:1px solid #d2e8fb;padding:10px;}
.specility{background: #87daf6;padding: 2px 8px;margin-right:3px;border-radius:5px;text-transform:uppercase;font-size:12px;display:inline-block;}
.color-grey{color: #767676;font-size:14px;}

.call-btn{background: #ceeff1;border-color: #a7dde1;font-weight: bold;color: #a1c8ca;}
.more-spec li{margin-bottom:5px;}
.sort-select{margin-right: 5px;background: transparent;border: 1px solid #a7cdcd;z-index:2;padding-right: 27px;
overflow: hidden;}
.caret1{position: absolute;right: 20px;margin-top: 19px;z-index:1;}
.banner1{max-height:166px;}
/* .magnet1 {top: 36%;} */
.magnet1 {top: 29%;}
.padding-top-bottom-3{padding:3px 0px !important;}
input:focus{box-shadow:none !important ;}
.dob input{width: 100%;border: 1px solid #cadfe4;padding: 0px 9px}
.dob .input-group-addon{background: none;border: none;right: 10px;color: #ccc;}
.form-control:-webkit-input-placeholder { /* WebKit browsers */
    color: #919596 !important;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #919596 !important;
   opacity:  1;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #919596 !important;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #919596 !important;
}
form label{font-weight:normal;}

/*** account section css */
.radius-0{border-radius:0px !important;}
.w100{width:100%;margin-top:4px;float:left;}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.form-group{margin-bottom:15px !important;}
select.form-control{border-color: #cadfe4;
    border-radius: 2px;
    box-shadow: none;
    color: #91a8ae;
    font-size: 13px;
    height: 42px;
    text-shadow: none;}
textarea.form-control{border-color: #cadfe4;
    border-radius: 2px;
    box-shadow: none;
    color: #91a8ae;
    font-size: 13px;
    text-shadow: none;}
	
	.top-strips{background: #e4f0fa;
     height: 100px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;}
	
	.imgs-doctor-profile{    
	border: 1px solid #ccc;
	border-radius:50%;
	width:130px !important;
	height:130px !important;
    margin-right: 8px;
    margin-top: -88px !important;}
.doctor-profile-form label{
    font-weight: normal;
    font-size: 14px;
}

.schedule-ul li a{font-size:11px;font-weight:bold;}
.tab-content1{padding: 10px;}
.btn-schedule{font-size: 19px;border-radius: 0px;}
/* .clinic-container{    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px !important;
	margin-bottom:10px;
}
 */

.d-ul-left li a{padding: 22px 8px;border: 1px dashed #ccc;color: #ccc;}
.d-ul-left li:not(:first-child) a{margin-top:-1px;}
.d-ul-left li.active a{color: #fff;background: rgb(91, 192, 222);border-color: #5bc0de !important;margin-bottom: 2px;}
.d-ul-left li a:hover{color: #fff;background: rgb(91, 192, 222);}
.d-ul-left li.active a:after{content: '';border-left: 10px solid #5bc0de;border-top: 10px solid transparent;
border-bottom: 10px solid transparent;width: 0px;position: absolute;right: -10px;top: 34%;}
.d-ul-left li.active a:before{content: '';border-left: 10px solid #5bc0de;border-top: 11px solid transparent;
border-bottom: 10px solid transparent;width: 0px;position: absolute;right: -11px;top: 33%;}
.head-01{position: relative;padding: 0px 0px 9px 0px;border-bottom: 1px solid #f0f0f0;}
.head-01 hr{width: 30px;border-top: 3px solid #6ad1f3;position: absolute;bottom: 0px;left: 0;margin: 0px;transition-duration:1s;}
.head-01:hover > hr{width:50px;transition-duration:1s;}
.pinfo-form label{font-size:16px;margin-top:2px;}

.add-clinic-form{overflow: hidden;border: 1px solid #f0f0f0;border-radius: 10px;margin-bottom:30px;position:relative;padding:10px;}
.f13{font-size:14px;}
.curs{cursor:pointer;}
/* page level script */






/* new final changes style */
#suggesstion-box{position: absolute ;z-index: 100;background: #fcfbfb;left: 0;right: 0;line-height: 22px;box-shadow: 0px 4px 4px #a4a4a4;}
#suggesstion-box #country-list{list-style: none;padding: 10px;color: #737070;}
#suggesstion-box #country-list li{padding: 2px 0px;border-bottom: 1px solid #faf8f8;cursor: pointer;font-size: 13px;}
#suggesstion-box #country-list li:first-letter{color:#5bc0de !important;transition-duration:1s;}
#suggesstion-box #country-list li:hover{color:#000 !important;transition-duration:1s;}
.search-form-0 input.sinput{background-color: transparent !important;background-position: 98% center !important;}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{text-align:right;border:1px solid #f0f0f0;padding: 5px 10px;border-radius: 0px;box-shadow:0px 3px 3px #ccc;}
.day.active,.month.active,.year.active{color:#5bc0de;}
.month,.year{padding:0px 3px;border-right:#f0f0f0;}
th.next{text-align:right;}
th.switch{text-align:center;}
#sign-in:focus{background:#5bc0de !important;}
.btn-acount:focus,.btn-acount:hover{background:transparent !important;}
.btn-acount{background: transparent;border: none;font-size: 16px;}
.acnt-drop{padding: 0px;padding-bottom:20px;border: 1px solid #ccc;border-radius: 0px;margin-top: 7px;right: 0;left: auto;min-width: 300px;}
.acnt-drop li:first-child{padding: 24px 0px;overflow: hidden;border-bottom: 1px solid #f0f0f0;margin-bottom: 12px;}
.img-profile{width: 90px !important;height: 45px !important;border-radius: 50%;border: 2px solid #5bc0de;}
.acnt-drop li a{color:#ccc !important;}
.acnt-drop li.active a{color:#fff !important;}
.acnt-drop li:hover > a{color:#000 !important;}
.is{border-right: 1px solid #f0f0f0;padding-right: 6px;margin-right: 5px;}
.ac-main{position:relative;}
.ac-main ul:before{content:'';border-bottom:10px solid #ccc;position:absolute;top:-10px;width:0px;margin:0 auto;z-index:1;border-right:10px solid transparent;border-left:10px solid transparent;right:20px;}
.ac-main ul:after{content:'';border-bottom:10px solid #fff;position:absolute;top:-9px;width:0px;margin:0 auto;z-index:2;border-right:10px solid transparent;border-left:10px solid transparent;right:20px;}
.btn-acount.open > .dropdown-toggle.btn-default {
    background-color: transparent;
}
#image-container{position:relative;}
.edit-pic{border: 1px solid #5bc0de;padding: 4px 6px;border-radius: 50%;background: white;position: absolute;
    top: 0;margin-left: 35px;color: #5bc0de;cursor:pointer;}
.ms-options ul{font-size:13px;list-style:none;}
.ms-options ul input[type="checkbox"]{top:3px !important;visibility:visible !important;}
.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover {
    background-color: #e4f0fa !important;
}
.imgs-doctor-profile{background: white;}
.ms-options-wrap button{border-color: #cadfe4 !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    color: #91a8ae !important;
    font-size: 13px !important;
    height: 42px !important;
    text-shadow: none !important;}
.sinput-claimed{border: 1px solid #f0f0f0 !important;margin: 0px !important;}
.search-claimed{padding: 10px 29px;}
.squaredFives{visibility:visible !important;}
.main-menus > li > a{padding: 19px 19px 18px 20px !important;}
.main-menus > li.active a{background: url(../images/icons/nav-hover-var1.png) 19px 8px no-repeat !important;}
.loader-icon{background: white;position: absolute;top: -34px;margin-left: -14px;padding: 5px 5.2px;border-radius: 50%;color: #5bc0de;box-shadow: 0px 0px 7px #6acff0;z-index:3;}
.loader-containers{z-index:1;position:fixed;left:0;right:0;top:0;bottom:0;}
div.inputTags-list ul.inputTags-autocomplete-list {font-size:14px !important;}
div.inputTags-list span.inputTags-item span.value {
    font-size: 14px;
}
.phone-fa-font{border-right: 1px solid;background: #6bcdea !important;padding: 12px 10px;margin-right: 5px;}
.phone-number-container{border: none;border-radius: 0px;padding: 0px 12px 0px 0px !important;}
.nfound{text-align: center;color: #e4f0fa;margin-top: 10%;}
.color-grey .glyphicon-star{color: #ffc900 !important;}
#post-review-box .fa-star,#post-review-box .fa-star-o,.color-grey .glyphicon-star-empty{color: #ffc900 !important;}
.specility{margin:1px;}
.nfound2{text-align: center;
    padding: 9% 0%;
    border-top: 1px solid #dde7ef;
    color: #afbcc7;}
	.btn:active:focus, .btn:focus {
    outline: none !important;}
.btn-acount:active{box-shadow:none !important;}



/*responsive style */
@media only screen and (max-width: 768px){
.text-needleft {
    width: 100% !important;
}
}


@media only screen and (min-width: 1400px){
.banner{height:660px !important;}
}

/*schedule part design */
.pschedule{float:left;width:100%;padding: 10px 0px 20px 0px;}
.pschedule span{clear:both !important;float:left;font-size:14px;}
.pschedule>span>span{color:blue !important;color: #5bc0de !important;width: 50px;}
.addschedules{margin-top: -5px !important;}
#scheduler_loader{
position: fixed;
z-index: 100;
left: 0;
right: 0;
top: 0;
bottom: 0;
text-align: center;
background: rgba(255,255,255,0.8);
top: 0%;
padding: 22% 0px;}
#search-form #search{padding: 20px 39px;}

@media screen and (min-width:769px){
.w400{width:400px !important;}
.f50{font-size:50px;}
}
.transparent{background:transparent !important;color:#5bc0de !important;clear:both;margin-left: 6px;}
.trns{color:darkred !important;}
.set-first{    width: 35px;float: left; font-size: 14px;}
.demos article p:not(:first-child){margin-left:17px !important;}
.input-group-adon-datepicker{padding: 0px;
    color: #dedede;
    background: none;
    border: none;
    right: 12px;
    top: 32px;
    position: absolute;}
